.body {
  padding: 10%;
  display: flex;
  justify-content: space-evenly;
}
.body > div {
  flex: 1;
  height: 400px;
}
.body > div > img {
  max-width: 100%;
  height: 100%; /* This ensures the image maintains its aspect ratio */
  display: block;
}
