.modal {
  padding: 5% 0;
}
.modal > h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0;
}

.modal > div {
  display: flex;
  justify-content: space-around;
}
.modal > div > a {
  all: unset;
}
.modal > div > a > img {
  width: 170px;
  height: 170px;
}
@media screen and (max-width: 470px) {
  .modal > div > a > img {
    height: 120px;
    width: 120px;
  }
  .modal > h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .modal > div > a > img {
    height: 100px;
    width: 100px;
  }
  .modal > h2 {
    font-size: 20px;
  }
}
